

<main>
    <form action="" method="POST">
        <h3>Email</h3>
        <input type="text" name="email" id="email"/>
        <h3>Name</h3>
        <input type="text" name="name" id="name"/>
        <input type="submit" value="Sumbit"/>
    </form>
</main>
<style>

</style>
<script>
    function sendForm() {
        console.log(sendForm)
    }
</script>