---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="This Project is In Development by Jon-Factor">
	<main>

		<h1>Welcome to <span class="text-gradient"><br/>[in dev project name]</span></h1>
		<p class="instructions">
			[in dev project name] is in <strong>Development</strong> and is not yet avalible. <br/> To see how far along we are click the button below to join our email list!
		</p>
		<div class="join">
			<a href="https://forms.gle/sBXFEpaHEe71wBEV8">
				<h2>Join Email List Now!</h2>
			</a>			
		</div>
		<div class="Status-Container">
			<h1>Projects</h1>
			<div class="status">
				<div class="info">
					<h2>F4ctor.net</h2>
					<p>Due Date: <br/> 4/20/24</p>
					<p>Description: <br/> An In Depth Portfolio Website.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-1"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>advertisment.ai</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>Automated Add Maker With a Simple Form Fillout.</p>
				</div>
				<div class="advertisment.ai">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>frameworker.tech</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>A Guide Through The Wonderfull World Of Modern Frameworks. Via Tutorials, Quizes, and more interactive lessons.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>keyboredz.com</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>Centralized Market For Your Keyboard Needs.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>mealai.net</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>A Meal Tracker where you dont have to search for food, just take a picture of it.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>worldwidechannel.net</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>Ever want to know whats going on in idaho? me neather but I do get board.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>WebNeedy</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>People need websites but dont always know where to look. So look here :)</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>Habify</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>Habbit Trackers Dont Have to be physical, so just use a website :)</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>Codemark</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>A benchmark For Coding Skills and best practices no matter the language.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>p2pLeads</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>A place to sell realestate leads to investors.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			<div class="status">
				<div class="info">
					<h2>HelpHelper</h2>
					<p>Due Date: <br/>TBD</p>
					<p>Description: <br/>Need a contractor but dont know where to start, start here.</p>
				</div>
				<div class="progress-bar">
					<div class="stages">
						<p>Started</p>
						<p>Design</p>
						<p>Endpoints</p>
						<p>Auth</p>
						<p>Frontend</p>
						<p>Backend</p>
						<p>Hosted</p>
					</div>
					<div class="stage">
						<div class="stage-0"></div>
					</div>
				</div>
			</div>
			
		</div>

</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.stage-1 {
		width: 75px;
		height: 30px;
		border-radius: 3px;
		background: #b567d4;
	}
	.stage-2 {

	}
	.stage-3 {

	}
	.stage-4 {

	}
	.stage-5 {

	}
	.stage-6 {

	}
	.stage-7 {

	}
	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-self: center;
		width: 100%;
		text-align: center;
	}
	.stage {
		width: 100%;
		height: 30px;
		border-radius: 10px;
		background: #cecece;
	}
	.stages {
		display: flex;
		flex-direction: row;
	}
	.stages p {
		margin-left: 40px;
	}
	.status {
		background: #0a021b;
		padding-top: 10px;
		padding-left: 10px;
		padding-bottom: 50px;
		padding-right: 20px;
		margin-top: 40px;
	}
	.Status-Container {

	}
	.join {
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;
		background-color: rgba(var(--accent-dark));
		border-radius: 30px;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	h2 {
		color: white;

	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
		text-align: center;
		align-self: center;
		justify-self: center;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>